/* @tailwind base;
@tailwind components;
@tailwind utilities;
html, */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito:ital,wght@0,200;0,400;1,300&display=swap");
html {
  background: #dddcdc;
}
body {
  padding: #f2f2f2;

  color: #333;
  font-family: "Nunito";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  body {
    background-color: #fff;
  }
}

nav {
  display: flex;
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 1rem;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-right: 1rem;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

Footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
